<div class="row">
    <main class="posts-listing col-lg-12">
        <div class="container">
            <div class="row">
                <!-- post -->
                <swor-blog-element class="post col-md-4 col-sm-6"></swor-blog-element>
                <swor-blog-element class="post col-md-4 col-sm-6"></swor-blog-element>
            </div>
            <!-- Pagination 
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
              </ul>
            </nav>-->
        </div>
    </main>
</div>