<section class="swor__holonews">
    <div class="row element">
    <div class="card-group col-md-12">
        <div class="card col-md-3 no-padding">
            <div class="card-body no-padding">
                <div class="row no-padding">
                    <div class="col-12 no-padding">
                        <img src="assets/images/big/img3.jpg" alt="image 3" class="swor__list__image">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h2 class="m-b-0">Titre d'article</h2>
                    </div>
                    <div class="col-12">
                        <p>Du texte</p>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-warning pull-right">Lire l'article</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row element">
    <div class="card-group col-md-12">
        <div class="card col-md-3 no-padding">
            <div class="card-body no-padding">
                <div class="row no-padding">
                    <div class="col-12 no-padding">
                        <img src="assets/images/big/img3.jpg" alt="image 3" class="swor__list__image">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h2 class="m-b-0">Titre d'article</h2>
                    </div>
                    <div class="col-12">
                        <p>Du texte</p>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-warning pull-right">Lire l'article</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>