.main-container {
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.swor__topbar {
    padding: 0;
    max-height: 50px;
}

.navbar-collapse {
    background-color: #272c33;
}

.dark-logo,
.light-logo {
    position: relative;
    right: -25px;
    top: 3px;
    width: 40%;
    max-width: 60px;
}

.dark-logo {
    display: none;
}

.swor__blog {
    margin-left: 0;
}

.sidebartoggler {
    display: none !important;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}